Book management system:
Java Desktop Application used for managing a library
One window for CRUD operations on Author (firstname, lastname): allows the viewing of all the authors; adding a new author; 
deleting an existing author and updating an existing author
One window for CRUD operations on Book (title, description, author): allows the viewing of all the books; 
adding a new book - and assigning one of the existing authors; deleting an existing book and updating an existing book
One window for Reviews (book, score, comment): allows the viewing of all the reviews; adding a new review for one of the existing books

Analiza cerintelor:
- CREATE AUTHOR
- VIEW ALL THE AUTHORS
- UPDATE AUTHOR
- DELETE AUTHOR

- CREATE BOOK (adding a new book - and assigning one of the existing authors)
- VIEW ALL THE BOOKS
- UPDATE BOOK
- DELETE BOOK

- VIEW ALL REVIEWS
- ADD REVIEW (adding a new review for one of the existing books)

Tasks :
- BMS-1 CREATE AUTHOR
- BMS-2 VIEW ALL THE AUTHORS
- BMS-3 UPDATE AUTHOR
- BMS-4 DELETE AUTHOR

- BMS-5 CREATE BOOK (adding a new book - and assigning one of the existing authors)
- BMS-6 VIEW ALL THE BOOKS
- BMS-7 UPDATE BOOK
- BMS-8 DELETE BOOK

- BMS-9 VIEW ALL REVIEWS
- BMS-10 ADD REVIEW (adding a new review for one of the existing books)
